<%- include('partials/head') %>

<body>

	<%- include('partials/ad-navbar') %>
	<div class="st-db-head">
		<div>
			<h1 class="st-db-head1"> <%= st_name %> </h1>
		</div>
		<div>
			<h2 class="st-db-head2"> <%= st_usn %> </h2> 
		</div>
	</div>
	

</body>

<%- include('partials/footer') %>