<%- include('partials/head') %>

    <center>
        <div>
            <table style="width:90%">
                <tr>
                    <th><h3><strong>USN</strong></h3></th>
                    <th><h3><strong>RoomNo</strong></h3></th>
                    <th><h3><strong>Vacancy</strong></h3></th>
                </tr>
                <tr>
                    <td><h3><strong><%=usn%></strong></h3></td>
                    <td><h3><strong><%=roomno%></strong></h3></td>
                    <td><h3><strong><%=vacancy%></strong></h3></td>
                </tr>
            </table>
        <div>
    </center>
<%- include('partials/footer') %>