<%- include('partials/head') %>

<body>
	<%- include('partials/navbar') %>
	<form action="/st-id-payment" method="post">
		<input type="text" name="st_id">
		<input type="submit" value="submit">
	</form>
	<h3>Hostel Fee: <%=hostel_fee %> </h3>
	<h3>Mess Fee: <%=mess_fee %> </h3>
	<h3>Hostel Fine: <%=hostel_fine %> </h3>
	<!-- <h3>Hostel Fee: <%=hostel_fee %> </h3> -->
</body>

<%- include('partials/footer') %>